<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <h2>Login Ajax(jQuery)</h2><hr/>
  <form id="frmLogin" name="frmLogin" action="/login" method="post">
    <input type="text" id="user_id" name="user_id" placeholder="아이디" /><br/>
    <input type="password" id="user_pw" name="user_pw"
                placeholder="패스워드" /><br/>
    <input type="button" id="btnLogin" value="로그인" />
  </form>
  <div id="msg"></div>
</body>
<script type="text/javascript">
$(document).ready(function() {
    $('#btnLogin').click(function() {
    	console.log("여기에 들어오는건가??");
      //var action = $('#frmLogin').attr("action");
      var form_data = {
                        id: $('#user_id').val(),
                        password: $('#user_pw').val()
      };
      $.ajax({
                type: "POST",
                url: "/login",
                //headers: {
                    //'Content-Type': 'application/json'
                //},
                contentType: 'application/json',
                dataType: 'text',
                data: JSON.stringify(form_data),
                success: function(response) {
                    console.log("response",response);
                  if(response.trim() == "success") {
                    sessionStorage.setItem("user_id", form_data.user_id);
                    $('#msg').html("<p style='color:green; font-weight:bold'>로그인 성공!</p>");
                  } else {
                    $('#msg').html("<p style='color:red'>아이디 또는 비밀번호가 잘못되었습니다.</p>");
                  }
                },
                error: function(data) {
                	console.log("Data", data);
                  $('#msg').html("<h2>Error</h2>");
                }
      });
    });
  });
</script>
</html>